   
 .contenedor-flex
 {
     display: flex;
     height: 50px;
     width: 100%;
     gap: 5px;
     @include centrar(center,center,row);
     flex-wrap: wrap;
     margin-top: 5px;
     
 }

 footer 

 { 

     background-color: $color_fondo_footer; 
     height: 150px;
 }


 .caja
 {
     width: 20%;
     height: 50px;
     text-align: center;
     padding-top: 15px;
     


     a
 {
     text-decoration: none;
     font-size: 18px;
     font-weight: bolder;
     color: bisque;
        
     
 }
 }
